.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #00262F;
  color: #EEE9CB;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}