@for (item of parties(); track $index) {
    <p>ID : {{item.id}}</p>
    <p>Status : {{item.status}}</p>
    <p>Nombre de joueur : {{item.nombreJoueurMax}}</p>
    @if (item.status === "en attente") {
        <button (click)="rejoindrePartie(item.id, $event)" [disabled]="item.status !== 'en attente'">Rejoindre</button>
    }
    <button (click)="supprimer(item.id, $event)">
        Supprimer
    </button>
    @if(notification()){
        <div  class="notification">
            {{ notification() }}
        </div>
    }
    <a [routerLink]="['/partie', item.id]">Voir la partie</a>
}@empty {
    <p>Il n'y a pas de parties</p>
}

<div>
    <a routerLink="/creation">Créer une nouvelle partie</a>
</div>
